@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 70%;
    flex-direction: column;
}

input[type="text"] {
    width: 94%;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 500;
    color: #857E7E;
    background-color: rgb(209, 206, 206); 
    margin-bottom: 20px;
}

textarea {
    width: 600px; /* Remplacez par la largeur que vous voulez */
    height: 150px; /* Remplacez par la hauteur que vous voulez */
    resize: none; /* Empêche l'utilisateur de redimensionner l'élément */
    margin-bottom: 20px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    color:white;
    background-color:#33CCFF;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
  
  input[type="submit"]:hover {
    letter-spacing: 3px;
    background-color:#963EFF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  input[type="submit"]:active {
    letter-spacing: 3px;
    background-color:#963EFF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

  .link-container {
    display: flex;
    justify-content: center; /* Changez cette ligne */
    margin-top: 50px;
}

  .button-link {
    margin: 0 40px;
    width: 90px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
  }
  
  .button-link {
   
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
  }
  
  .button-link:before {
    height: 0%;
    width: 2px;
  }
  
  .button-link:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  .return-button {
    background: linear-gradient(0deg, #BB61F3 0%, #BB61F3 100%); /* Rouge */
}

.home-button {
    background: linear-gradient(0deg, #1EE592 0%, #1EE592 100%); /* Vert */
}


  