@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 80px;
    width: 70%;
    flex-direction: column;
}

#title {
    width: 94%;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 500;
    color: #242424;
    background-color: rgb(231, 229, 229); 
    margin-bottom: 20px;
    text-align: center;
}

.form-title{
    font-size: 15px;
    font-weight: 500px;
    color: #282828;
    text-align: center;

}

textarea {
    width: 600px; 
    height: 150px; 
    resize: none; 
    margin-bottom: 5px;
}

.submit-button {
    display: block;
    margin: auto;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    color:white;
    background-color:#33CCFF;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-top: 80px;
}
  
.submit-button:hover {
    letter-spacing: 3px;
    background-color:#963EFF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .submit-button:active {
    letter-spacing: 3px;
    background-color:#963EFF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

  .link-container {
    display: flex;
    justify-content: center;
}

  .button-link {
    margin: 0 40px;
    width: 90px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
  }
  
  .button-link {
   
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
  }
  
  .button-link:before {
    height: 0%;
    width: 2px;
  }
  
  .button-link:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  .return-button {
    background: linear-gradient(0deg, #BB61F3 0%, #BB61F3 100%); 
}

.home-button {
    background: linear-gradient(0deg, #1EE592 0%, #1EE592 100%); 
}

.textarea-container {
  position: relative;
}

#emoji-picker {
  z-index: 1000;
  position: absolute;
  bottom: -200px;
  right: -420px;
}

emoji-picker {
  --background: rgba(255, 255, 255, 0.9);
}
.emoji-button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
}

.image-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;

 }
 
 .image-button:hover,
 .image-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
 }
 
 .image-button:hover {
  transform: translateY(-1px);
 }
 
 .image-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
 }

 .image-preview-container {
  display: flex;
  align-items: flex-start; /* Aligns the items vertically at the top */
  gap: 10px; /* Space between the items */
  flex-wrap: wrap; /* Allows the items to wrap onto multiple lines */
}