header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: black;
}

.logo {
    margin-left: 2%;
}

.logo a {
    display: inline-block;
    width: 200px;
    height: 75px;
    background-image: url('../img/CHATHEAVEN_PNG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bold {
    font-weight: 800;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    background-color: #E9E7E7;
    border-radius: 20px;
    align-content: center;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 500;
    color: #857E7E;
}

.search p {
    align-self: center;
}

.search input {
    border: none;
    background-color: #E9E7E7;
    font-size: 25px;
    font-weight: 500;
    color: #857E7E;
    width: 100%;
    outline: none;
}

.search svg {
    align-self: center;
}

.login {
    font-size: 20px;
    font-weight: 500;
    background-color: #3977F1;
    width: 10%;
    height: 50px;
    border-radius: 70px;
    text-align: center;
    align-content: center;
    transition: 0.5s;
    margin-right: 2%;
}

.login:hover {
    background-color: #2F5FCC;
}

.login a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.pfp .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pfp .username {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    margin-right: 10%;
}

.pfp {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pfp {
    margin-right: 2%;
}

.autocomplete-results {
    font-family: Inter, sans-serif !important;
    align-items: center !important;
    z-index: 10002 !important;
    background-color: #E9E7E7 !important;
    border: 1px solid #dedcdc !important;
    border-radius: 10px !important;
    padding: 0;
    margin: 5px !important;
    cursor: pointer !important;
    list-style-type: none;
}

.rounded-image {
    border-radius: 50%;
}

.rounded-image-div {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.rounded-image-div.color1:hover {
    background-color: rgba(30, 229, 146, 0.5);
    border-radius: 10px;
}

.rounded-image-div.color2:hover {
    background-color: rgba(51, 204, 255, 0.5);
    border-radius: 10px;
}

.rounded-image-div.color3:hover {
    background-color: rgba(150, 62, 255, 0.5);
    border-radius: 10px;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

.autocomplete-results{
    position: fixed;
}