@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    font-family: Inter;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 35px;
    font-weight: 500;
    margin-left: 2%;
}

.bold {
    font-weight: 800;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    background-color: #E9E7E7;
    border-radius: 20px;
    align-content: center;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 500;
    color: #857E7E;
}

.search p {
    align-self: center;
}

.search svg {
    align-self: center;
}

.login {
    font-size: 20px;
    font-weight: 500;
    background-color: #3977F1;
    width: 10%;
    height: 50px;
    border-radius: 70px;
    text-align: center;
    align-content: center;
    transition: 0.5s;
}

.login:hover {
    background-color: #2F5FCC;
}

.login a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.pfp .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pfp .username {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    margin-right: 10%;
}

.pfp {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pfp {
    margin-right: 2%;
}

main {
    margin-top: 3%;
    width: 70%;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    column-gap: 50px;
}

.welcome {
    border-radius: 20px;
    grid-column: span 3;
    background-color: #D9D9D9;
    height: 250px;
    display: flex;
    justify-content: center;
}

.welcome h1 {
    font-size: 70px;
    font-weight: 700;
    align-self: center;
}

.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #1EE592;
    height: 150px;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #33CCFF;
    height: 150px;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #963EFF;
    height: 150px;
}

.text h3 {
    position: relative;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    top : -35px;
}

.stats svg {
    position: relative;
    align-self: center;
    top: -50px;
    transform: scale(1.4);
}

.topics svg {
    top : -60px;
}

footer {
    position: absolute;
    bottom: 0;
    align-self: center;
    justify-content: center;
    width: 100%;
    color: #838282;
    display: flex;
    align-items: center;
    height: 50%;
    z-index: -1;
    background-image: url("../img/home-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
