@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.stats {
    padding-top: 70px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    column-gap: 50px;
}

.welcome {
    border-radius: 20px;
    grid-column: span 3;
    background-color: #D9D9D9;
    height: 250px;
    display: flex;
    justify-content: center;
}

.welcome h1 {
    font-size: 70px;
    font-weight: 700;
    align-self: center;
}

.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #1EE592;
    height: 150px;
}

.topics:hover {
    background-color: #1ad98b;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #33CCFF;
    height: 150px;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #963EFF;
    height: 150px;
}

.users:hover {
    background-color: #8d2de3;
}

.text h3 {
    position: relative;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    top : -35px;
}

.stats svg {
    position: relative;
    align-self: center;
    top: -50px;
    transform: scale(1.4);
}

.topics svg {
    top : -60px;
}

.forum {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border : 1px solid #BEB5B5;
    background-color: #ffffff;

}

.forum tbody {
    background-color: #ffffff;
}

.forum table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.forum th {
    background-color: #ffffff;
    color: #000000;
    font-weight: 550;
    padding: 20px;
    font-size: 24px;

}

.tab-forum {
    border-collapse: collapse;
    text-align: left;
    width: 30%;
}

.nb-posts {
    width: 30%;
    text-align: center;
}

.last-post {
    width: 40%;
    text-align: left;
}


.forum td {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.forum tr:hover {
    background-color: #f0f0f0;
}

.forum a {
    color: #333;
    text-decoration: none;
}

.forum a:hover {
    color: #007BFF;
}

.forum-container {
    display: flex;
    align-items: center;
}

.forum-container a {
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
}

.forum-container svg{
    border-radius: 40px;
}

.nb-post-tab{
    text-align: center;
}

.last-post-tab {
    text-align: left;
}

.last-post-tab p {
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

.last-post-tab a{
    margin-left: 1%;
    color: #00A5FF;
    text-decoration: none;
}

.last-post-tab a:hover {
    text-decoration: underline;
}

.last-post-tab span {
    color: #949A9E;
}

.go-to-last-post {
    fill: black;
}


