@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 5%;
    width: 70%;
}

.forum {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border : 1px solid #BEB5B5;
    background-color: #ffffff;

}

.forum tbody {
    background-color: #ffffff;
}

.forum table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.forum th {
    background-color: #ffffff;
    color: #000000;
    font-weight: 550;
    padding: 20px;
    text-align: left;
    font-size: 24px;

}

.tab-forum {
    border-collapse: collapse;
    width: 50%;
}

.nb-post {
    width: 10%;
}

.last-post {
    width: 20%;
}

.create-topic-table {
    width: 50%;
    margin-top: 20px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border : 1px solid #BEB5B5;
    background-color: #ffffff;
}

.create-topic {
    height: 15px;
    background-color: #33CCFF;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

.create-topic:hover {
    background-color: #0056b3;
}


.forum td {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.forum tr:hover {
    background-color: #f0f0f0;
}

.forum a {
    color: #333;
    text-decoration: none;
}

.forum a:hover {
    color: #007BFF;
}

.topic-container {
    display: flex;
    align-items: center;
}

.topic-title {
    margin-left: 10px;
}