@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 5%;
    width: 70%;
}

.forum {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border : 1px solid #BEB5B5;
    background-color: #ffffff;

}

.forum tbody {
    background-color: #ffffff;
}

.forum table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.forum th {
    background-color: #ffffff;
    color: #000000;
    font-weight: 550;
    padding: 20px;
    font-size: 24px;

}

.tab-post {
    text-align: left;
    border-collapse: collapse;
    width: 35%;
}

.author {
    width: 35%;
    text-align: left;
}

.post-likes {
    width: 10%;
}

.post-dislikes {
    width: 10%;
}

.post-comments{
    width: 10%;
}

.button-container {
    display: flex;
    justify-content: space-between; !important;
    margin-top: 20px;
}

.sort-buttons {
    display: flex;
    gap : 10px;
    margin-bottom: 20px;
}

.sort-button {
    background-color: #33CCFF;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color : white;
    transition: background-color 0.3s;
}

.sort-button:hover {
    background-color: #28bdf1;
}

.sort-button.active {
    background-color: #0056b3;
}

.create-post {
    height: 20px;
    background-color: #33CCFF;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color : white;
    transition: background-color 0.3s;
}

.create-post:hover {
    background-color: #28bdf1;
}


.forum td {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.forum tr:hover {
    background-color: #f0f0f0;
}

.forum a {
    color: #333;
    text-decoration: none;
}

.forum a:hover {
    color: #007BFF;
}

.post-container {
    display: flex;
    align-items: center;
}

.post-title {
    margin-left: 10px;
}

.likes{
    text-align: center;
}

.dislikes{
    text-align: center;
}

.comments{
    text-align: center;
}

.table-author p {
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

.table-author a{
    margin-left: 1%;
    color: #00A5FF;
    text-decoration: none;
}

.table-author a:hover {
    text-decoration: underline;
}

.table-author span {
    color: #949A9E;
}