html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 80%;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

.card .pfp {
    display: flex;
    margin-top: -75px;
}

.card .pfp img {
    border-radius: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card .username {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}

.card .email {
    font-size: 15px;
    font-weight: 500;
    margin-top: -20px;
    color: #857E7E;
}