html {
    background-image: url(../img/home-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    gap: 20px;
}


.card {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    margin: 0;
}

.card .pfp img {
    border-radius: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card .username {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.card .email {
    font-size: 15px;
    font-weight: 500;
    color: #8d8d8d;
    margin: 0;
    margin-bottom: 60px;
}

.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#drop-zone {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px dashed #bbb;
    border-radius: 20px;
    text-align: center;
    position: relative;
    line-height: 50px;
    font-size: 20px;
    color: #818181;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#drop-zone input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-button {
    background-color: #1EE592;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.upload-button:hover {
    background-color: #1ad98b;
}

#preview {
    border-radius: 20px;
}



.information {
    height: 100%;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    margin: 0;
}

.tab {
    overflow: hidden;
    background-color: #fafafa;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab :first-child {
    background-color: #1EE592;
}

.tab :first-child:hover {
    background-color: #1ad98b;
}

.tab :first-child.active {
    background-color: #1EE592;
}

.tab :nth-child(2) {
    background-color: #33CCFF;
}

.tab :nth-child(2):hover {
    background-color: #2ab9e8;
}

.tab :nth-child(2).active {
    background-color: #33CCFF;
}

.tab :nth-child(3) {
    background-color: #963EFF;
}

.tab :nth-child(3):hover {
    background-color: #8d2de3;
}

.tab :nth-child(3).active {
    background-color: #963EFF;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}