<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Post.Title}}</title>
</head>
<body>
<h1>{{.Post.Title}}</h1>
<p>{{.Post.Content}}</p>
<p>Likes : {{.Post.Likes}}</p>
<form action="/like-post?postID={{.Post.ID}}" method="post">
  <input type="submit" value="Like">
</form>
<p>Dislikes : {{.Post.Dislikes}}</p>
<form action="/dislike-post?postID={{.Post.ID}}" method="post">
  <input type="submit" value="Dislike">
</form>

<h2>Comments</h2>
{{range .Comment}}
<div>
  <p>{{.Content}}</p>
  <p>Post by {{.User}}</p>
</div>
{{end}}

<h2>Add a comment</h2>
<form action="/post-content?postID={{.Post.ID}}" method="post">
  <label for="content">Comment content:</label><br>
  <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
  <input type="submit" value="Add a comment">
</form>

<a href="/posts?topic={{.Post.Topic}}">Back to posts</a>
</body>
</html>